.DS_Store
*.pyc
*.log
/__pycache__/
config.txt
test.py
/NLIMED.egg-info/
/build/
/dist/
/NLIMED/indexes/BM_entityTypes
/NLIMED/indexes/BM_object.json
/NLIMED/indexes/BM_rdfPaths
/NLIMED/indexes/BM_subject.json
